## GraphQL endpoint - Required (Exposed to browser as well)
NEXT_PUBLIC_GRAPHQL_ENDPOINT=

## PayPal client id - Required (Exposed to browser as well)
NEXT_PUBLIC_PAYPAL_CLIENT_ID=

## PayPal secret - Required (Exposed to only server env)
PAYPAL_CLIENT_SECRET=

## PayPal BN Code - Required (Exposed to only server env)
PAYPAL_BN_CODE=

## Stripe secret key - Required (Exposed to only server env)
STRIPE_SECRET_KEY=

## Stripe publishable key - Required (Exposed to browser as well)
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=

## Auth0 Credentials  (Exposed to only server env)
AUTH0_SECRET=
AUTH0_BASE_URL=
AUTH0_ISSUER_BASE_URL=
AUTH0_CLIENT_ID=
AUTH0_CLIENT_SECRET=
AUTH0_AUDIENCE=
AUTH0_SCOPE=

## AlGOLIA  Required (Exposed to only server env)
ALGOLIA_APP_ID=
ALGOLIA_SERVER_API_KEY=
ALGOLIA_CLIENT_API_KEY=

## NOTION
NEXT_PUBLIC_NOTION_REDIRECT_BASE_URL=
NOTION_SECRET_KEY=
NEXT_PUBLIC_NOTION_REDIRECT_INVITE_TOKEN=
NEXT_PUBLIC_NOTION_REDIRECT_URL =

## GOOGLE ANALYTICS
NEXT_PUBLIC_GOOGLE_ANALYTICS=
