@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Glegoo:wght@400;700&display=swap');
@import "react-notion-x/src/styles.css";
@import "split-pane-react/esm/themes/default.css";

@import "reactflow/dist/style.css";

// used for code syntax highlighting (optional)
@import "prismjs/themes/prism-tomorrow.css";

// used for rendering equations (optional)
@import "katex/dist/katex.min.css";
@import "mixin.scss";

@import "~video-react/styles/scss/video-react";

$sidebar-bg-color: #0c1e35;
$submenu-bg-color: rgba(255, 255, 255, 0.05);
$submenu-bg-color-collapsed: rgba(#0c1e35, 0.95);
$sidebar-color: #b3b8d4;
$highlight-color: #dee2ec;
$icon-bg-color: rgba(255, 255, 255, 0.05);
$icon-size: 24px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

// html {
//   zoom: 0.95;
//   transform: scale(0.95);
//   transform-origin: 0 0;
//   -moz-transform: scale(0.95);
//   -moz-transform-origin: 0 0;
// }

:root {
  --atrium-black: #0A0A0A;
  --atrium-purple: #7542ED;
  --atrium-off-white: #ECECEC;
  --atrium-yellow: #F2BB05;
  --atrium-cream: #FFF1C1;
  --atrium-green: #22C74E;
  --atrium-orange: #D74E09;
  --atrium-blue: #0D4EE8;
  --atrium-navy: #002375;
  
  --neutral-100: #f5f5f5;
  --neutral-200: #e5e5e5;
  --neutral-300: #d4d4d4;
  --neutral-400: #a3a3a3;
  --neutral-500: #737373;
  --neutral-600: #525252;
  --neutral-700: #404040;
  --neutral-800: #262626;
  --neutral-900: #171717;
  --gray-900: #1a202c;
  --gray-800: #2d3748;
  --gray-700: #4a5568;
  --gray-600: #718096;
  --gray-500: #a0aec0;
  --gray-400: #cbd5e0;
  --gray-300: #e2e8f0;
  --gray-200: #edf2f7;
  --gray-100: #f7fafc;
  --red-100: #fff5f5;
  --red-200: #fed7d7;
  --red-300: #feb2b2;
  --red-400: #fc8181;
  --red-500: #f56565;
  --red-600: #e53e3e;
  --red-700: #c53030;
  --red-800: #9b2c2c;
  --red-900: #742a2a;
  --blue-100: #ebf8ff;
  --blue-200: #bee3f8;
  --blue-300: #90cdf4;
  --blue-400: #63b3ed;
  --blue-500: #4299e1;
  --blue-600: #3182ce;
  --blue-700: #2b6cb0;
  --blue-800: #2c5282;
  --blue-900: #2a4365;
  --white: white;
  --offwhite: #ececec;
  --black: #0a0a0a;
  --red: #f56565;
  --purple: #9198e5;
  --text-decoration-color: var(--gray-400);
  --text-color: var(--gray-800);
  --focus-ring-color: var(--blue-500);

  --white-lilac: #f3e1ff;
  --dark-turquoise: #00ced1;
  --ghost-white: #f8f8ff;
  --pear: #d1e231;
  --lucky-orange: #ff9b49;

  --gradient-purple-s1: #8b5cf6;
  --gradient-purple-s2: #ab55f7;
  --gradient-purple-s3: #9333ea;
  --gradient-purple-s4: #792ac1;
  --gradient-purple-s5: #531d84;

  --purple-gradient-1: linear-gradient(135deg, var(--gradient-purple-s1) 0%, var(--gradient-purple-s2) 18%, var(--gradient-purple-s3) 45%, var(--gradient-purple-s4) 72%, var(--gradient-purple-s5) 100%);

  --sidebar-width-sm: 200px;
  --sidebar-width-md: 250px;
  --sidebar-width-lg: 300px;
}

.gradient-purple-1 {
  background: var(--purple-gradient-1);
}

.border-gradient-purple-1 {
  border-color: var(--purple-gradient-1);
}
  
.text-gradient-purple-1 {
  background: var(--purple-gradient-1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include for-phone-only {
    height: 100vh;
    // overflow: hidden;
  }
}

.heading {
  font-family: 'Glegoo', serif;
}

.body-child {
  height: calc(100vh - 64px);
}

.hero-bg {
  background-image: url("../public/images/hero-pattern.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer-bg {
  background-image: url("../public/images/footer-pattern.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.th-rounded {
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 0.375rem;
  /* 6px */
  overflow-x: hidden;
}

.logo[data-theme="dark"] {
  color: var(--white);
}

.agents-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;

  @include for-phone-only {
    gap: 24px;
  }
}

// .dark-footer {
//   -moz-box-shadow:inset 0px 0px 20px 20px rgba(0, 0, 0, 1);
//   -webkit-box-shadow:inset 0px 0px 20px 20px rgba(0, 0, 0, 1);
//   box-shadow:inset 0px 0px 60px 0px rgba(0, 0, 0, 1);
// }

// .light-footer {
//   -moz-box-shadow:inset 0px 0px 20px 20px rgba(255,255,255,1);
//   -webkit-box-shadow:inset 0px 0px 20px 20px rgba(255,255,255,1);
//   box-shadow:inset 0px 0px 60px 0px rgba(255,255,255,1);
// }

[data-theme="night"] {
  color-scheme: dark;
  --bg-color: var(--black);
  --text-color: var(--white);
  --caret-color: var(--white);
  --border-color: var(--white);
}

.night {
  background-color: var(--bg-color);
  color: var(--text-color);
  caret-color: var(--caret-color);
  border-color: var(--border-color);
}

.default-dark {
  color-scheme: dark;
}

body {
  color: var(--black);
  caret-color: var(--black);
  border-color: var(--black);
}

.body-default {
  background-color: #FAFAFA;
}

.body-white {
  background-color: var(--white);
}

.landing {
  background-color: var(--black);
  color: var(--white);
  caret-color: var(--white);
  border-color: var(--white);
}

/* Typography
––––––––––––––––––––––––––––––––– */

// ========== Width Clases =============

.width-40 {
  width: 40%;
}

.notion-app {
  @media (prefers-color-scheme: light) {
    background-color: var(--white);
    color: var(--black);
    caret-color: var(--black);
    border-color: var(--black);
  }

  @media (prefers-color-scheme: dark) {
    background-color: var(--black);
    color: var(--white);
    caret-color: var(--white);
    border-color: var(--white);
  }
}

.notion-text,
.notion-title,
.notion-list,
.notion-header,
.notion-toggle,
.notion-h-title {
  font-family: "Arimo", -apple-system, BlinkMacSystemFont, sans-serif;
}

.notion-page {
  width: 100%;
  padding: 4rem;
}

.notion-header {
  display: none;
}

.notion>* {
  padding: 0px;
}

.gradient-button {
  display: flex;
  align-items: center;
  position: relative;
  box-sizing: border-box;

  $border: 1px;

  background-clip: padding-box;
  /* !importanté */
  border: solid $border transparent;
  /* !importanté */
  border-radius: 0.5em;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -$border;
    /* !importanté */
    border-radius: inherit;
    /* !importanté */
    background: linear-gradient(to right, magenta, red);
    background: linear-gradient(to left, blue, cyan);
  }
}

.gradient-button-variant-1 {
  &:before {
    background: linear-gradient(to right, magenta, red);
  }
}

.gradient-button-variant-2 {
  &:before {
    background: linear-gradient(to right, green, lime);
  }
}

// ----------------------------------------------------------------------------
// Main Menu
// ----------------------------------------------------------------------------
.main-menu {
  padding: 120px 10px 30px 30px;
  margin: 10px;
}

.hide-mobile {
  @include for-phone-only {
    display: none;
  }
}

.hide-desktop {
  @include for-tablet-portrait-up {
    display: none;
  }
}

.info-page.main-logo {
  cursor: pointer;
  width: 80%;
  padding: 0.5rem;
  max-width: 200px;
}

.main-logo {
  cursor: pointer;

  @include for-phone-only {
    height: 50px;
    width: 50px;
    padding: 0.5rem;
  }

  @include for-big-desktop-up {
    width: 100%;
  }
}

.lost-404 {
  height: 80vh;
  width: 100vw;
  padding: 20px;
}

////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////

.menu-refresh-content {
  position: absolute;
  right: 0px;
  margin: 10px;
}

.gradient-border-bottom {
  border-image: linear-gradient(to left, turquoise, greenyellow) 1 0;
  border-bottom: 2px solid;
  padding: 10px 0px;
}

.comment-section {
  height: calc(100vh - 130px);
  overflow: auto;
}

.comment-section::-webkit-scrollbar {
  display: none;
}

// =============================== Loader Start =======================
.loader-wrapper {
  width: 142px;
  height: 40px;
  filter: contrast(20);

  .dot {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 12px;
    left: 5px;
    filter: blur(4px);
    background: #000;
    border-radius: 50%;
    transform: translateX(0);
    animation: dot 2.8s infinite;
  }

  .dots {
    transform: translateX(0);
    margin-top: 12px;
    margin-left: 31px;
    animation: dots 2.8s infinite;
  }

  span {
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    margin-left: 16px;
    filter: blur(4px);
    background: #000;
    border-radius: 50%;
  }

  @keyframes dot {
    50% {
      transform: translateX(96px);
    }
  }

  @keyframes dots {
    50% {
      transform: translateX(-31px);
    }
  }
}

// =================== Public Layout End ======================

.floating-action-button {
  position: absolute;
  bottom: 20px;
  right: 18%;
  z-index: 9999;

  @include for-phone-only {
    right: 5%;
  }

  @include for-tablet-portrait-only {
    right: 5%;
  }
}

.floating-action-button button {
  background: #000;
  border-radius: 50%;
  padding: 10px;
  margin: 10px 0px;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

  @media (prefers-color-scheme: dark) {
    background-color: var(--white);
    color: var(--black);
    caret-color: var(--black);
    border-color: var(--black);
  }
}

.query-list {
  @media (prefers-color-scheme: dark) {
    background-color: var(--black);
    color: var(--white);
    caret-color: var(--white);
    border-color: var(--white);
  }
}

.private-nav {
  height: 75px;

  @include for-phone-only {
    position: fixed;
    z-index: 50;
  }

  @media (prefers-color-scheme: dark) {
    background-color: var(--black);
    color: var(--white);
    caret-color: var(--white);
    border-color: var(--white);
  }
}

ol {
  list-style: inside inside;
}

ul {
  list-style: inside square;
}

.algolia-search-container {
  .search-input input {
    border-bottom: 1px solid #ccc;
    padding: 7px 10px 7px 50px;
    outline: none;
    width: 100%;
    color: #222;

    @media (prefers-color-scheme: dark) {
      background-color: var(--black);
      color: var(--white);
      caret-color: var(--white);
      border-color: var(--white);
    }
  }

  .result-container {
    z-index: 9999;
    background: #fff;
    right: 20%;
    left: 18%;
    max-height: calc(100vh - 250px);
    overflow: auto;

    .results {
      a {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        width: 100%;

        :first-child {
          margin-right: 10px;
        }

        .nnext-arrow-icon {
          margin-top: 5px;
          padding: 0px 5px;
        }
      }

      p {
        margin: 0px;
      }

      .item {
        padding: 10px 15px;
        border-bottom: 1px solid #ccc;

        .paragraphs {
          padding: 10px 40px;

          em {
            font-weight: bolder;
            text-decoration: none;
            font-style: normal;
            color: blue;
          }
        }
      }
    }

    @media (prefers-color-scheme: dark) {
      background-color: var(--black);
      color: var(--white);
      caret-color: var(--white);
      border-color: var(--white);
    }
  }
}

.slate-mention {
  color: #7C3AED;
  font-weight: 500;
  padding: 0;
  box-shadow: none;
  // background-color: var(--gray-200);
  // padding: 0.25rem 0.5rem;
  // margin-right: 0.5rem;
  // color: var(--black);


  @media (prefers-color-scheme: dark) {
    background-color: var(--gray-800);
    color: var(--white);
    caret-color: var(--white);
    border-color: var(--white);
  }
}

.slate-selectable {
  .slate-mention_input {
    padding: 0;
    color: #7C3AED;
    font-weight: 600;

    &::before {
      content: "@";
    }
  }
}

.search-model {
  width: 63%;
  left: 20%;
}

@include for-phone-only {
  .search-model {
    width: 100%;
    left: 0%;
    top: 65px;
  }
}

.model-min-width {
  width: 95%;
}

@include for-desktop-up {
  .model-min-width {
    width: 85%;
  }
}

.search {
  @media (prefers-color-scheme: dark) {
    background-color: var(--black);
    color: var(--white);
    caret-color: var(--white);
    border-color: var(--white);
  }
}

.result-container::-webkit-scrollbar {
  display: none;
}

.doc-type-container {
  @media (prefers-color-scheme: dark) {
    background-color: var(--black);
    color: var(--white);
    caret-color: var(--white);
    border-color: var(--white);
  }
}

#comment-form-section {
  //position: absolute;
  //top: 151px;
  z-index: 1;
  //background: #fff;
  //width: 100%;
  //right: 0px;
  //overflow: auto;
  //max-height: calc(100vh - 64px);
  //
  //@include for-desktop-up{
  // width: 16.6%;
  // top: 64px
  //}
}

#comment-form-section::-webkit-scrollbar {
  display: none;
}

.notion-text:hover {
  .comment-box {
    opacity: 1;
    transition: all 0.5s;

    svg {
      path {
        fill: #000;
      }
    }
  }
}

.comment-box {
  float: right;
  height: 20px;
  display: flex;
  transition: all 0.5s;

  span {
    position: absolute;
    color: #fff;
    font-size: 12px;
    margin: 5px;
    cursor: pointer;
  }
}

.comment-box.hide-box {
  opacity: 0;
}

.comment-input {
  max-height: 100px;
  overflow: auto;
}

.comment-input::-webkit-scrollbar {
  display: none;
}

.user-image {
  border-radius: 50%;
}

.preview-video {
  .video-react {
    border-width: 0.5rem;
    border-radius: 1rem;

    @media (prefers-color-scheme: light) {
      border-color: var(--black);
    }

    @media (prefers-color-scheme: dark) {
      border-color: var(--white);
    }

    // .video-react-video {
    // }
  }
}

.blob {
  //box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  transform: scale(1);
  animation: pulse-black 2s infinite;
}

@keyframes pulse-black {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

// Error message
.error-message-model {
  width: auto;
  height: auto;
  border: 1px solid lightcoral;

  ._container {
    padding: 10px;

    .header {
      color: red;
      font-size: 16px;
    }

    .body {
      font-size: 14px;
    }
  }
}

.react-flow__node-custom {
  font-size: 10px;
  width: 180px;
  background: #f5f5f6;
  color: #222;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 15%), 0 2px 4px -1px rgb(0 0 0 / 8%);
  border-radius: 2px;
}

.react-flow__node-custom .react-flow__handle {
  top: 24px;
  right: -15px;
  width: 6px;
  height: 10px;
  border-radius: 2px;
  background-color: #778899;
}

.react-flow__node.circle {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.react-flow__node.annotation {
  border-radius: 0;
  text-align: left;
  background: white;
  border: none;
  line-height: 1.4;
  width: 225px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 15%), 0 2px 4px -1px rgb(0 0 0 / 8%);
}

.react-flow__node.annotation .react-flow__handle {
  display: none;
}

//.selected-empty-element {
//  position: relative;
//}
//.selected-empty-element:after {
//  content: "Use '/' to create question";
//  color: #aaa;
//  position: absolute;
//  top: 0;
//}

.custom-node__header {
  padding: 8px 10px;
  border-bottom: 1px solid #e2e8f0;
}

.custom-node__body {
  padding: 10px;
}

.custom-node__select {
  position: relative;
  margin-bottom: 10px;
}

.custom-node__select select {
  width: 100%;
  margin-top: 5px;
  font-size: 10px;
}

.anim-player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.anim-dots {
  display: flex;
  align-items: center;
  list-style: none;
  height: 100px;
  padding: 0;
  margin: 0;
}

.anim-dots li {
  border-radius: 2px;
  margin: 0 2px;
  width: 16px;
  height: 16px;
  background-color: #26de81;
}

.anim-button {
  background-color: #20bf6b;
  border-radius: 2px;
  color: white;
  font-size: 16px;
  border: none;
  padding: 4px 16px;
  font-weight: bold;
  cursor: pointer;
  width: 100px;
  margin-top: 24px;
}

.notion-default-content {
  .notion-page {
    padding: 0px;
  }
}

.prompt-box-container {
  position: absolute;
  right: 0px;
  top: 56px;
  width: 400px;
  z-index: 99;
  padding: 20px;
  height: calc(100vh - 56px);
  box-shadow: -8px 0px 20px 1px rgba($color: #000000, $alpha: 0.1);
  overflow-y: auto;
}

.dataset-detail-container {
  position: absolute;
  right: 0px;
  top: 56px;
  width: 400px;
  z-index: 99;
  padding: 20px;
  height: calc(100vh - 56px);
  box-shadow: -8px 0px 20px 1px rgba($color: #000000, $alpha: 0.1);
  overflow-y: auto;
  background: var(--white);

  @media (prefers-color-scheme: dark) {
    background: var(--black);
  }

  .dataset-content {
    height: calc(100vh - 165px);
    overflow-y: auto;
  }
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.table {
  min-height: calc(100vh - 720px);
}


input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #333;
  border: 3px solid #fff;
  width: 22px;
  height: 22px;
  border-radius: 12px;
  cursor: pointer;
}

.range-input {
  background: #f0f0f0;
  border: none;
  border-radius: 8px;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
}

.stripe-payment-element {
  @media (prefers-color-scheme: dark) {
    // Style??
  }
}

.prompt-text-area {
  resize: vertical;
  max-height: 140px;
}

.progress-bar {
  display: flex;
  border-radius: 2px;
  overflow: hidden;
  width: 66.667%;
  max-width: 276px;
  // border: 1px solid #e5e5e599;
  background: #f5f5f5;

  @media (prefers-color-scheme: dark) {
    background: #262626;
  }
}

.done,
.active {
  height: 8px;
  transition: width 500ms;
}

.done {
  background: #0a0a0a;
  border-radius: 2px 0 0 2px;

  @media (prefers-color-scheme: dark) {
    background: #fff;
  }
}

.active {
  background: #d4d4d4;
  border-radius: 0 2px 2px 0;

  @media (prefers-color-scheme: dark) {
    background: #525252;
  }
}

.custom-justify-start {
  justify-content: flex-start !important;
}

.scroll-x-container {
  overflow-x: auto;
  scrollbar-width: none;
  box-shadow: inset -10px 0px 8px -6px rgba(0, 0, 0, 0.12);
}

.horizontal-scroll {
  width: 200px;
}

.radial-pulse {
  position: absolute;
  background: radial-gradient(50% 50% at 50% 50%, rgba(153, 153, 153, 0.36) 0%, rgba(119, 119, 119, 0) 100%);
  backdrop-filter: blur(2px);
  width: 100%;
  margin-top: 20px;
  height: 66%;
  border-radius: 100%;
  transform: scaleX(108%);
  // animation: moveAndChangeShape 2s infinite alternate;
}

@keyframes moveAndChangeShape {
  0% {
    transform: scaleX(1) translateY(0);
  }

  50% {
    transform: scaleX(1.1) translateY(-4%);
  }

  100% {
    transform: scaleX(1) translateY(0);
  }
}

.social-proof {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 100%;
  overflow: hidden;
  backdrop-filter: blur(7.4px);
  -webkit-backdrop-filter: blur(7.4px);
}

.gradient-foreground {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 19.98%, rgba(255, 255, 255, 0) 78.78%, #FFFFFF 100%);

  @media (prefers-color-scheme: dark) {
    background: linear-gradient(90deg, #0A0A0A 0%, rgba(10, 10, 10, 0) 19.98%, rgba(10, 10, 10, 0) 78.78%, #0A0A0A 100%);
  }
}

.social-proof-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  height: 48px;
  animation: scrolling 32s linear infinite;

  @include for-phone-only {
    height: 28px;
  }
}

@keyframes scrolling {
  0% {
    transform: translateX(130%);
  }

  100% {
    transform: translateX(-130%);
  }
}

.hero-btn {
  background: -webkit-gradient(linear, left top, left bottom, from(#e8e8e8), to(#c4c4c4));
  border-radius: 6px;
  color: var(--black);
  -webkit-mask: linear-gradient(237deg, #DDD 12%, rgba(0, 0, 0, 0.6) 60%, #000 60%) right/350% 100%;
  background-repeat: no-repeat;
  transform: perspective(500px) rotateY(-5deg);
  transition: 0.5s;
  animation: shimmer 5s 3s infinite;
  display: flex;
  flex: none;

  @media (prefers-color-scheme: dark) {
    background: -webkit-gradient(linear, left top, left bottom, from(#777), to(#ddd));
    -webkit-mask: linear-gradient(237deg, #888 20%, rgba(0, 0, 0, 0.8) 40%, #666 40%) right/350% 100%;
  }
}

.hero-btn:hover {
  transform: perspective(500px) rotateY(15deg);
}

@keyframes shimmer {
  100% {
    -webkit-mask-position: left
  }
}

.dynamic-logo {

  path,
  polyline,
  rect,
  text,
  line {
    fill: black;
  }

  @media (prefers-color-scheme: dark) {

    path,
    polyline,
    rect,
    text,
    line {
      fill: white;
    }
  }
}

.scale-logo {
  height: 22px;
  width: 112px;

  @include for-phone-only {
    height: 20px;
    width: 96px;
  }
}

.small-logo {
  height: 22px;
  width: 88px;
}

.footer-landscape {
  opacity: 80%;
  width: 100%;
  position: absolute;
  bottom: 0px;
  opacity: 40%;

  @media (prefers-color-scheme: dark) {
    opacity: 56%;
  }
}

.dropdown-inner-shadow {
  box-shadow: inset 0px -8px 8px -6px #bbb;

  @media (prefers-color-scheme: dark) {
    box-shadow: inset 0px -8px 8px -6px #111;
  }
}

.beta {
  font-size: 10px;
  padding: 1px 6px;
  border: 1px solid #AAAAAA;
  border-radius: 3px;
  color: #0A0A0A;
  // margin-bottom: 1px;
  opacity: 80%;
  letter-spacing: 3%;

  @media (prefers-color-scheme: dark) {
    border-color: #999999;
    color: #FFFFFF;
    opacity: 80%;
  }
}

.confirm-signup {
  padding: 64px 20px 80px;
  border-radius: 6px;
  background: #F8F8F8;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @media (prefers-color-scheme: dark) {
    background: #141414;
  }
}

.demo-bg {
  width: 100%;
  scale: 1.15;
  position: absolute;
  bottom: -8%;
  height: 248px;
  overflow: hidden;
  z-index: -10;
  max-width: 1960px;
}

.demo-bg .fade {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 84%, rgba(255, 255, 255, 1) 100%);

  @media (prefers-color-scheme: dark) {
    background: radial-gradient(ellipse at center, rgba(10, 10, 10, 0.7) 0%, rgba(10, 10, 10, 0.9) 75%, rgba(10, 10, 10, 1) 100%);
  }
}

// Demo Animations

.fit-column {
  width: 1%;
  white-space: nowrap;
}


.ingest-form-font {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.ingest-form-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding: 40px;
  background: var(--white);
  color: var(--black);

  .form-main {
    position: relative;
    height: fit-content;
    border-radius: 6px;
    background: var(--white);
    padding-bottom: 52px;
    width: 520px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);

    .loading {
      height: 100px;
      display: flex;
      justify-content: center;
      padding-top: 50px;
    }

    .viewer {
      padding: 40px;
      max-height: 520px;
      display: flex;
      flex-direction: column;
      gap: 24px;
      overflow-y: scroll;
      ;
    }
  }
}


.demo {
  width: 100%;
  overflow-x: scroll;
  scrollbar-width: none;
  border-radius: 6px;
}

.demo {
  table {
    table-layout: auto;
  }

  .table-border {
    border: 0.5px solid rgba(0, 0, 0, 0.12)
  }

  .column-header {
    padding: 10px;
    max-width: 240px;
  }

  .cell {
    padding: 16px;
  }

  .score-dot {
    width: 5px;
    height: 5px;
    border-radius: 100%;
  }

  th:first-of-type {
    border-left: none;
  }

  th:last-of-type {
    border-right: none;
  }

  tbody td:first-of-type {
    border-left: none;
  }

  tbody td:last-of-type {
    border-right: none;
  }
}

.edit-form-container {
  height: calc(100vh - 65px);
  overflow: auto;

  .layout {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 40px;
  }
}

.left-panel {
  overflow: hidden;
}

.form-banner {
  position: absolute;
  padding: 12px;
  width: 100%;
  left: 0%;
  bottom: 0%;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

.transition-active {
  transition: all 0.3s ease-in-out;
}

.transition-leave {
  opacity: 0;
  transform: translateX(100%);
}

.transition-enter {
  opacity: 1;
  transform: translateX(0);
}

.integrations {
  .container {
    padding: 40px;
    background: var(--white);
    border-radius: 6px;
    width: 480px;
    margin-top: 120px;

    @media (prefers-color-scheme: dark) {
      background: var(--black);
    }
  }

  .text-block {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 48px;
  }

  .connect {
    position: relative;
    width: 188px;
    margin: 0px auto 40px;
    display: grid;
    grid-template-columns: 1fr 60px 1fr;
  }

  .platform {
    width: 64px;
    height: 64px;
    padding: 14px;
    border-radius: 100%;
    border: 4px solid;
    border-color: var(--white);

    @media (prefers-color-scheme: dark) {
      border-color: var(--black);
    }
  }

}


.animated-line {
  min-height: 2px;
  width: 100%;
  background: linear-gradient(45deg, var(--neutral-200) 0 25%, var(--neutral-700) 25%, var(--neutral-200));
  background-size: 200% 100%;
  animation: move-left 1s infinite linear;

  @media (prefers-color-scheme: dark) {
    background: linear-gradient(45deg, var(--neutral-400) 0 25%, var(--neutral-800) 25%, var(--neutral-400));
    background-size: 200% 100%;
  }
}

@keyframes move-left {
  to {
    background-position: 200% 0;
  }
}

.bidirectional {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;

  .animated-line:last-child {
    transform: scaleX(-1);
  }

}

.canvas {
  width: 600px;
  height: 450px;
  border-radius: 4px;
  background-color: #E8E8E866;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  transition: .2s;

  @media (prefers-color-scheme: dark) {
    background-color: #E8E8E810;
  }

  @include for-phone-only {
    margin-top: 4rem;
    width: 85%;
    height: 520px;
  }
}

.title {
  position: absolute;
  display: flex;
  gap: 4px;
  bottom: 12px;
  left: 12px;
  font-weight: 500;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 4px;
  color: #0A0A0A62;
  background-color: #E8E8E8CC;
  transition: .2s;

  @media (prefers-color-scheme: dark) {
    color: #E8E8E888;
    background-color: #E8E8E820;
  }
}

.diamond-icon {
  margin-left: 8px;
  width: 6.5px;
  height: 6.5px;
  transform: rotate(45deg);
}

.demo-2 {
  display: grid;
  grid-template-columns: 1fr 320px 1fr;

  @include for-tablet-down {
    grid-template-columns: 1fr;
    max-width: 600px;
  }

  .intake {
    gap: 4px;
    position: relative;
    padding: 12px 16px;
    width: 100%;
    height: 200px;
  }

  .intake>div {
    position: absolute;
  }

  .intake>div:nth-child(1) {
    top: 5%;
    left: 10%;
    // border: 2px solid red;
  }

  .intake>div:nth-child(2) {
    top: -5%;
    right: 8%;
    // border: 2px solid blue;
  }

  .intake>div:nth-child(3) {
    bottom: 10%;
    left: 14%;
    // border: 2px solid green;
  }

  .intake>div:nth-child(4) {
    bottom: 20%;
    right: 16%;
    // border: 2px solid violet;
  }

  .left {
    position: relative;
    height: 600px;

    .img-bottom {
      position: absolute;
      z-index: -10;
      display: flex;
      align-items: center;
      height: 94%;
    }

    .img-bottom img {
      max-height: 86%;
      transition-property: all;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 150ms;
    }

    .entity-card {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: end;
    }

    .link-1 {
      position: absolute;
      top: 28%;
      left: -8%;
      width: 200px;
      z-index: -12;
      rotate: 90deg;
    }
  }

  .connection {
    position: relative;
    overflow: hidden;

    @include for-desktop-up {
      display: flex;
    }

    .false-middle {
      display: flex;
      justify-content: center;
      align-items: end;
      width: 100%;
    }

    .pass-through {
      background: #ffffff88;
      backdrop-filter: blur(6px);

      @media (prefers-color-scheme: dark) {
        background: #22222200;
      }
    }

    .logo {
      padding: 13px;
      width: 64px;
      height: fit-content;
      // border: 2px solid lightgray;
      border-radius: 6px;
      background-color: var(--offwhite);

      @media (prefers-color-scheme: dark) {
        background-color: var(--neutral-800);
      }
    }

    .lines {
      position: absolute;
      width: 100%;
      min-width: 320px;
      bottom: 14%;
      z-index: -5;

      img {
        background-size: cover;
      }
    }
  }

  .right {
    position: relative;
    justify-content: center;

    @include for-desktop-up {
      display: flex;
    }

    .prompt-input {
      padding: 12px 16px;
      position: relative;
      display: flex;
      gap: 8px;
      width: fit-content;
      align-items: center;
      font-weight: 600;
    }

    .responses {
      display: flex;
      flex-direction: column;
      gap: 32px;


      .logs {
        display: flex;
        align-items: center;
        gap: 12px;
        font-size: 12px;
        font-weight: 550;
        width: fit-content;
        margin-top: 16px;
      }

      .spin-loader {
        width: 16px;
        height: 16px;
        border: 2px solid black;
        border-right-color: transparent;
        border-radius: 100%;
        animation: spin 0.7s infinite linear;

        @media (prefers-color-scheme: dark) {
          border: 2px solid white;
          border-right-color: transparent;
        }
      }

      .inner {
        position: relative;
      }

      .inner::after {
        content: " ";
        position: absolute;
        top: 42%;
        left: -11px;
        width: 20px;
        height: 20px;
        z-index: -4;
        border-radius: 100%;
        background: #81ED68;
        border: 3px solid var(--white);
        box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.2666666667);

        @media (prefers-color-scheme: dark) {
          border: 3px solid var(--black);
        }
      }
    }
  }
}

@keyframes spin {
  to {
    rotate: 360deg;
  }
}

.schema-table {
  max-height: calc(100vh - 240px);
  overflow: scroll;

  .settings-header {
    position: sticky;
    top: -2px;
    z-index: 12;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.1);

    th {
      padding: 12px 16px;
      border: 1px solid;
      border-color: var(--neutral-200);
      margin: -1px;

      @media (prefers-color-scheme: dark) {
        border-color: var(--neutral-700);
      }
    }
  }

  .schema-body {

    input,
    select {
      background: transparent;
    }
  }
}

.atrium-header {
  padding: 12px 24px;
  background: var(--white);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include for-tablet-portrait-up {
    border: 1px solid var(--neutral-200);
  }

  @include for-phone-only {
    padding: 12px 16px;
    border-bottom: 1px solid var(--neutral-200);
  }
}

.circle-loader {
  border-radius: 50%;
  border: 4px solid #FFFFFF44;
  border-right: 4px solid var(--white);
  animation: spin 1s linear infinite;
}

.circle-loader-dark {
  border-radius: 50%;
  border: 4px solid #00000022;
  border-right: 4px solid var(--black);
  animation: spin 1s linear infinite;
}

.home-templates-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
}

.protected-content {
  position: relative;

  .blur-layer {
    position: absolute;
    z-index: 5;
    background: #f8f8f8cc;
    backdrop-filter: blur(8px);
    border-radius: 6px;
    height: 100%;
    width: 100%;
  }
}

.entity-card-shadow {
  box-shadow: 2px 12px 24px 4px rgba(0, 0, 0, 0.08);
}

.skydeck-logo {
  background: #15284B;
  border: 1px solid rgba(255, 183, 0, 0.8);
}

.skydeck-ext-border {
  padding: 1px;
  background: #FFB700BB;
  border-radius: 6px;
}

.content-container {
  height: calc(100vh - 136px);
}

.ABbdaHGik-active-step {
  background: #fafafa;
}

.step {
  padding: 10px 0 10px 24px;
}
  
.ABdaHGik-animate-y {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 0;
  width: 2px;
  background-color: var(--gradient-purple-s4);
  animation: borderGrowY 5s linear;
}

.ABdaHGik-animate-x {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 2px;
  width: 0;
  background-color: var(--gradient-purple-s4);
  animation: borderGrowX 5s linear;
}


@keyframes borderGrowY {
  from { height: 0; }
  to { height: 100%; }
}

@keyframes borderGrowX {
  from { width: 0; }
  to { width: 100%; }
}

// Custom Animation Transition Class
// Use along with .smooth or .slow for preferred duration
.transition-any {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

/* Overriding classes */
.smooth {
  transition-duration: 500ms;
}

.slow {
  transition-duration: 1000ms;
}

#googleOneTapButton {
  // transform: scale(1.2);
}

/* Example CSS for carousel indicator dots */
.carousel .control-dots .dot {
  background: #fff;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  cursor: pointer;
  display: inline-block;
  margin: 0 8px;
  opacity: 0.3;
  box-shadow: none;
}

/* Remove all animations from carousel dots */
.carousel-root {
  .control-dots {
    .dot {
      background: #fff;
      border-radius: 50%;
      width: 8px;
      height: 8px;
      cursor: pointer;
      display: inline-block;
      margin: 0 8px;
      opacity: 0.3;
      box-shadow: none;
    }
  }
}

#googleOneTapButton {
  width: 100%;
  > div {
    width: 100%;
    > div {
      width: 100%;
      > div[role="button"] {
        width: 100% !important;
        max-width: 100% !important;
        min-width: unset !important;
      }
    }
  }
}